

<!DOCTYPE html>
<html lang="pt-BR" data-lang="pt-BR" crm-lang="pt-BR" crm-lcid="1046" 
	same-site-mode="None" >
<head>
		<meta charset="utf-8" /><meta name="viewport" content="width=device-width,&#32;initial-scale=1.0" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script type="text/javascript">
				
</script>
	<title>
	
		Página Inicial
		&nbsp;· Portal do Iniciante
</title>
			
		<script src="/_resources/getresourcemanager?lang=pt-BR"></script>
	
	<script type="text/javascript">
		// Refresh all powerBI Iframes on Login in one Iframe
		window.addEventListener('message', function (event) {
			if (event && event.data && event.data == 'refreshPowerBI') {
				$("iframe.powerbi").each(function () {
					this.src = this.src;
				});
			}
		});

		// Fix for incorrect viewport width setting in IE 10 on Windows Phone 8.
		if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
			var msViewportStyle = document.createElement("style");
			msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	</script>
	
		
		<link href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/css/bootstrap.min.css?1632162466678" rel="stylesheet" />

		<link href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/css/glyphicons-font-awesome-migrate.min.css" rel="stylesheet"/>

		<link href="https://content.powerapps.com/resource/powerappsportal/dist/preform.bundle-39edee5cb6.css" rel="stylesheet" />


		
		<!--[if lt IE 9]>
				<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		
		<!--[if lt IE 10]>
				<script src="~/js/formdata.js"></script>
			<![endif]-->
		
			
		
		<link href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/css/theme.css?1632162466696" rel="stylesheet" />
<link href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/css/portalbasictheme.css?1632162466696" rel="stylesheet" />

		
		
		
		
	
		</head>
<body data-sitemap-state="/"
	data-dateformat="dd/MM/yyyy"
	data-timeformat="HH:mm"
	data-datetimeformat="dd/MM/yyyy HH:mm"
	data-app-path="/"
	data-ckeditor-basepath="/js/BaseHtmlContentDesigner/Libs/msdyncrm_/libs/ckeditor/"
	data-case-deflection-url="/_services/search/b0cc7f4d-c8b0-4d38-addf-14b28c9ce182">

	
		<script type="text/javascript">
		window["Microsoft"] = window["Microsoft"] || {};
		window["Microsoft"].Dynamic365 = {
			Portal: {
				
				User: {
					contactId: '',
						userName: ''
				},
				
						version: '9.3.7.21',
						type: 'CDSStarterPortal',
						id: '3bc25486-1934-4f38-a5be-96c91ae4963b'
			}
		}
	</script>

	
		

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="skip-to-content"><a href="#mainContent">Pular para o conteúdo principal</a></div><div class="container">
        <div class="navbar-header">

            <!--div class="visible-xs-block">
              <div class="xrm-editable-html&#32;xrm-attribute" data-languageContext="português&#32;(Brasil)"><div class="xrm-attribute-value"><a href="~/"><img src="/Logo.png" alt="Contoso Limited" style="width: 32px; height: 32px;"><span style="position: relative; top: 2px; margin-left: 9px;">Contoso Ltd</span></a></div></div>
            </div-->
            <div class="visible-sm-block visible-md-block visible-lg-block visible-xs-block navbar-brand">
                <div class="xrm-editable-html&#32;xrm-attribute" data-languageContext="português&#32;(Brasil)"><div class="xrm-attribute-value"><a href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/inde.html"><img src="C:\Users\Utilizador\Desktop\UM\PW\m_temp/Logo.png" alt="Contoso Limited" style="width: 32px; height: 32px;"><span style="position: relative; top: 2px; margin-left: 9px;">Contoso Ltd</span></a></div></div>
            </div>
            <button type="button" class="navbar-toggle collapsed" title="Alternar navega&#231;&#227;o" data-toggle="collapse" data-target="#navbar" aria-expanded="false" onclick="setHeight();">
                <span class="sr-only">Alternar navega&#231;&#227;o</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            
            
            <div class="navbar-right menu-bar " data-weblinks-maxdepth="2">
                <ul class="nav navbar-nav weblinks" role="menubar">
                    
                    
                    
                    
                    
                    <li role="none" class="weblink ">
                        <a role="menuitem" aria-label="Resid&#234;ncia" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/inde.html" title="Resid&#234;ncia" >
                            Resid&#234;ncia
                        </a>
                        
                    </li>
                    
                    
                    <li class="divider-vertical" aria-hidden="true"></li>
                    
                    
                    
                    
                    <li role="none" class="weblink  dropdown">
                        <a role="menuitem" aria-label="Servi&#231;os" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Servi&#231;os" >
                            Servi&#231;os
                            <span class="caret"></span>
                        </a>
                        
                        <ul class="dropdown-menu" role="menu">
                            
                            <li role="none">
                                <a role="menuitem" aria-label="Servi&#231;os" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/service.html"   title="Servi&#231;os" >Servi&#231;os</a>
                            </li>
                            <div class="divider"></div>
                            
                            
                            <li role="none">
                                <a role="menuitem" aria-label="Produto A (exemplo)" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/page1.html"   title="Produto A (exemplo)" >
                                    Produto A (exemplo)
                                </a>
                            </li>
                            
                            <li role="none">
                                <a role="menuitem" aria-label="Produto B (exemplo)" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/page2.html"   title="Produto B (exemplo)" >
                                    Produto B (exemplo)
                                </a>
                            </li>
                            
                        </ul>
                        
                    </li>
                    
                    
                    <li class="divider-vertical" aria-hidden="true"></li>
                    
                    
                    
                    
                    <li role="none" class="weblink ">
                        <a role="menuitem" aria-label="Sobre n&#243;s" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/about.html" title="Sobre n&#243;s" >
                            Sobre n&#243;s
                        </a>
                        
                    </li>
                    
                    
                    
                    <li class="divider-vertical" aria-hidden="true"></li>
                    <li role="none" class="dropdown">
                        <a id="search" class="navbar-icon" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Pesquisar">
                            <span class="glyphicon glyphicon-search"></a>
                        </a>
                        <div class="dropdown-menu dropdown-search">
                            





<form method="GET" action="/search/" role="search" class="form-search">
    <div class="input-group">

        

        <label for="q" class="sr-only">
            Pesquisar
        </label>
        <input type="text" class="form-control" id="q" name="q"
               placeholder="Pesquisar"
               value=""
               title="Pesquisar">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"
                    title="Pesquisar"
                    aria-label="Pesquisar">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>

                        </div>
                    </li>
                    
                    <li class="divider-vertical" aria-hidden="true"></li>
                    
                    
                    <li role="none">
                        <a role="menuitem" aria-label="Entrar" href="C:\Users\Utilizador\Desktop\UM\PW\m_temp/login.html">
                            Entrar
                        </a>
                    </li>
                    
                </ul>
                
            </div>
            
        </div>
    </div>
</div>








<script type="text/javascript">
  window.onload = function() {
    if (window.navigator.appName == "Microsoft Internet Explorer" || window.navigator.userAgent.indexOf("Trident") > 0) {
      var searchElement = document.getElementById("search");
      if (searchElement != null) searchElement.setAttribute("href", "");
    }
  };
  function setHeight() {
    var windowHeight = window.innerHeight - 140;
    var navbar = document.getElementById("navbar");
    if (navbar) {
      navbar.style.maxHeight = windowHeight + "px";
    }
  }
  window.addEventListener('resize', function(event) {
    setHeight();
  });
</script>

	<!-- add anti-forgery token-->
	<div id="antiforgerytoken" data-url="/_layout/tokenhtml"></div>
	<script src="https://content.powerapps.com/resource/powerappsportal/dist/preform.bundle-b0505cd00c.js"></script>

	
		<script src="https://content.powerapps.com/resource/powerappsportal/dist/pcf.bundle-5e0c2e994b.js"></script>

	
	   <!-- Default studio template. Please do not modify -->
<div id="mainContent" class = "wrapper-body" role="main">
    <div class="page-copy">
 <div class="xrm-editable-html&#32;xrm-attribute"><div class="xrm-attribute-value"><div class="row sectionBlockLayout sectionFixedStyle" style="display: flex; flex-wrap: wrap; text-align: left; min-height: 500px; background: url('/Homehero.png') center / cover no-repeat; padding: 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
            <h1>Seja bem-vindo aos Portais do <br>Power Apps!</h1><a href="https://go.microsoft.com/fwlink/?linkid=2127817"  aria-label="Learn more about Power Apps portals" style="margin: 16px 0px; padding: 2px 4px;">Saiba mais</a>
        </div>
    </div>
</div>
<div class="row sectionBlockLayout sectionPrimaryColor" style="display: flex; flex-wrap: wrap; text-align: center; min-height: auto; padding: 45px 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
            <h2> Introdução</h2>
            <p style="text-align: center; margin-top: 16px;">Crie um site poderoso para que usuários internos e externos à sua organização entrem usando uma ampla variedade de identidades, criem e exibam dados no Common Data Service ou até mesmo procurem conteúdo anonimamente.</p>
        </div>
    </div>
</div>
<div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; text-align: center; min-height: auto; padding: 45px 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; padding-bottom: 20px; width: 100%;">
            <h2>Recursos principais</h2>
        </div>
        <div class="col-md-4 columnBlockLayout" style="display: flex; flex-direction: column;">
            <img src="C:\Users\Utilizador\Desktop\UM\PW\m_temp/Edit.png" alt="Editar imagem" style="width: 130px; height: auto; margin-left: auto; margin-right: auto;">
            <h3>Rápido e fácil de editar&nbsp;</h3>
            <p style="margin-top: 12px;">Crie e edite páginas da Web de forma rápida e fácil com o Assistente de portais do Power Apps.</p>
        </div>
        <div class="col-md-4 columnBlockLayout" style="display: flex; flex-direction: column;">
            <img src="C:\Users\Utilizador\Desktop\UM\PW\m_temp/Diagnose.png" alt="Diagnosticar imagem" style="width: 130px; height: auto; margin-left: auto; margin-right: auto;">
            <h3>Executar diagnóstico</h3>
            <p style="margin-top: 12px;">Use a ferramenta de autodiagnóstico do verificador do portal para identificar automaticamente problemas comuns no seu portal.</p>
        </div>
        <div class="col-md-4 columnBlockLayout" style="display: flex; flex-direction: column;">
            <img src="C:\Users\Utilizador\Desktop\UM\PW\m_temp/Analytics.png" alt="Imagem de análise" style="width: 130px; height: auto; margin-left: auto; margin-right: auto;">
            <h3>Integrar ao Power BI&nbsp;</h3>
            <p style="margin-top: 12px;">Habilitar a integração do Power BI e o serviço do Power BI Embedded para demonstrar painéis publicados nas páginas da Web do portal.&nbsp;</p>
        </div>
    </div>
</div>
<div class="row sectionBlockLayout sectionFixedStyle" style="display: flex; flex-wrap: wrap; text-align: left; min-height: auto; padding: 45px 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-6 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
            <h2> Expanda seus negócios</h2>
            <p style="margin-top: 16px;">Aumente sua base de usuários do portal escolhendo um ou mais serviços e provedores de identidade de terceiros para a autenticação no portal.&nbsp;</p><a href="https://go.microsoft.com/fwlink/?linkid=2127819" aria-label="Learn more about identity providers and services configuration" style="margin-top: 16px; padding: 2px 4px;">Saiba mais</a>
        </div>
        <div class="col-md-6 columnBlockLayout" style="display: flex; flex-direction: column;"><img src="C:\Users\Utilizador\Desktop\UM\PW\m_temp/Growth.png" alt="Imagem do crescimento" style="width: 100%; height: auto; margin-left: 0; margin-right: auto;"></div>
    </div>
</div>
<div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; text-align: center; min-height: auto; padding: 45px 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column; justify-content: center;">
            <h2> Sobre os portais do Power Apps&nbsp;</h2>
            <p style="margin-top: 16px;">Com os portais do Power Apps, você pode criar modelos de página e páginas da Web, integrar com o Power BI, procurar conteúdo usando a pesquisa no portal, personalizar com a pesquisa Liquid, habilitar classificações e muito mais!</p>
        </div>
    </div>
</div></div></div>
</div>
</div>


	
		

	
		<footer role="contentinfo" class="footer">
  <div class="footer-bottom hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 text-left">
          <div class="xrm-editable-html&#32;xrm-attribute" data-languageContext="português&#32;(Brasil)"><div class="xrm-attribute-value"><p><span>Copyright © </span>2021<span>. Todos os direitos reservados.</span></p></div></div>
        </div>
        <div class="frenchAccessibilityLink">
          <a id="frenchAccesssibleLink" target="_blank" href="" title=""></a>
        </div>

      </div>
    </div>
</footer>

<script type="text/javascript">
  window.onload = function() {
        if(window.navigator.language == "fr"){
          var accessibilityText="Accessibilité : partiellement conforme";
          var accessibilityHref="https://go.microsoft.com/fwlink/?linkid=2163806";
          var frenchLink = document.getElementById("frenchAccesssibleLink");
            if (frenchLink != null)
              {
                frenchLink.innerHTML =accessibilityText ;
                frenchLink.setAttribute("href",accessibilityHref );
                frenchLink.setAttribute("title", accessibilityText);
              }
        }
           };
 </script>
	
	
	
	
	
	
	<script src="https://content.powerapps.com/resource/powerappsportal/dist/postpreform.bundle-0147112061.js"></script>

	<script src="https://content.powerapps.com/resource/powerappsportal/dist/app.bundle-4df547691e.js"></script>

	<script src="https://content.powerapps.com/resource/powerappsportal/dist/default-1046.bundle-f3545c14ca.js"></script>

	
	
	
	<script>
		//this event will update the title of the page based on active breadcrumb
		$('.breadcrumb').ready(function () {
			if ($('.breadcrumb').is(':visible')) {
				document.querySelector('title').innerHTML = ($('.breadcrumb > li.active').text() + "&nbsp;· Portal do Iniciante");
			}
		});

		function GoToNewEditor() {
			var editCmsUrlSegment = "EditInCms";
			var currentUrl = window.location.href;
			if (currentUrl.indexOf('?') > -1) {
				var urlSegments = currentUrl.split("?");
				window.location.href = window.location.origin + '/' + editCmsUrlSegment + window.location.pathname + '?' + urlSegments[1];
			}
			else {
				window.location.href = window.location.origin + '/' + editCmsUrlSegment + window.location.pathname;
			}
		}
	</script>
	
		
	
</body>
</html>
<!-- Generated at 20/09/2021 18:27:46 -->
<!-- Page OK -->
